body {
    font-family: 'Lato', sans-serif;
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}

#item {
    width: 450px;
    height: 25px;
    background-color: #F1F1F1;
    border-style: solid;
    border-width: .5px;
    border-color: #CCCCCC;
    text-align: center;
    text-transform: uppercase;
}

#add {
    display: block;
    margin: 28px auto;
    border-style: none;
    background-color: #6D7AEB;
    padding: 10px;
    width: 100px;
    color: white;
    font-weight: 700;
    border-radius: 5px; 
    outline: none;
    cursor: pointer;
}

#add:hover {
    background-color: rgb(142, 149, 211);
}

.app {
    text-align: center;
    margin: 250px auto;
    background-color: white;
    position: relative;
    height: 240px;
    width: 530px;
    box-shadow: 0px 4px 10px rgb(224, 224, 224);
    border-style: solid;
    border-color: rgb(202, 202, 202);
    border-width: .05px;
    padding-top: 40px;
}

h4 {
    list-style: none;
    color: black;
    letter-spacing: 3px;
    position: relative;
    margin: 0 auto;
    word-break: break-all;
    line-height: 35px;
    padding: 0 5px;
}

.result {
    background-color: white;
    width: 530px;
    border-style: solid;
    border-width: .05px;
    border-color: rgb(202, 202, 202);
}

.space {
    position: absolute;
    height: 1px;
    width: 530px;
    background-color: lightgray;
    margin: 205px auto;
    text-align: center;
}

h1 {
    color: black;
    margin: 0;
}

p {
    color: gray;
    font-size: 12px;
    margin:0;
    padding-bottom: 32px;
}